In [771]:
import numpy as np
import pandas as pd
#import seaborn as sns
#import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir("../input"))
answer_ls=[]
answer_ls

[]

Вопрос 1
У какого фильма из списка самый большой бюджет?
- The Dark Knight Rises (tt1345836)
- Spider-Man 3 (tt0413300)
- Avengers: Age of Ultron (tt2395427)
- The Warrior's Way (tt1032751)
- Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [772]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
film=data[data['budget']==data.budget.max()] #отфильтровали датафрейм по максимальному бюджету
display(film)
answer_ls.append("tt1032751") #записали ответ в список
answer_ls

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

['tt1032751']

Вопрос 2
Какой из фильмов самый длительный (в минутах)?
- The Lord of the Rings: The Return of the King (tt0167260)
- Gods and Generals (tt0279111)
- King Kong (tt0360717)
- Pearl Harbor (tt0213149)
- Alexander (tt0346491)

In [773]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
longest_film=data[data['runtime']==data['runtime'].max()] #отфильтровали датафрейм по максимальному времени
display(longest_film)
answer_ls.append("tt0279111") #записали ответ в список
answer_ls

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

['tt1032751', 'tt0279111']

Вопрос 3
Какой из фильмов самый короткий (в минутах)?
- Home on the Range tt0299172
- The Jungle Book 2 tt0283426
- Winnie the Pooh tt1449283
- Corpse Bride tt0121164
- Hoodwinked! tt0443536

In [774]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
shortest_film=data[data['runtime']==data['runtime'].min()] #отфильтровали датафрейм по минимальному времени
display(shortest_film)
answer_ls.append("tt1449283") #записали ответ в список
answer_ls

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

['tt1032751', 'tt0279111', 'tt1449283']

Вопрос 4
Какое число ближе к средней длительности фильма в датасете?
- 115
- 110
- 105
- 120
- 100

In [775]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
mean_runtime = round(data['runtime'].mean()) #нашли среднее время
print(mean_runtime)
answer_ls.append(110) #записали ответ в список
answer_ls

110.0

['tt1032751', 'tt0279111', 'tt1449283', 110]

Вопрос 5
Какое число ближе к медианной длительности фильма в датасете?
- 106
- 112
- 101
- 120
- 115

In [776]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
median_runtime = round(data['runtime'].median())
print(median_runtime)
answer_ls.append(106) #записали ответ в список
answer_ls

106.0

['tt1032751', 'tt0279111', 'tt1449283', 110, 106]

Вопрос 6
Какой самый прибыльный фильм?
Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма.

- The Avengers tt0848228
- Minions tt2293640
- Star Wars: The Force Awakens tt2488496
- Furious 7 tt2820852
- Avatar tt0499549

In [777]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили в датафрейм колонку с прибылью
profit_film = data[data['net_income']==data['net_income'].max()] # фильтруем датафрейм по максимальной прибыли
display(profit_film)
answer_ls.append("tt0499549") #добавляем ответ в список
answer_ls

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,net_income
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

['tt1032751', 'tt0279111', 'tt1449283', 110, 106, 'tt0499549']

Вопрос 7
Какой фильм самый убыточный?

- Supernova tt0134983
- The Warrior's Way tt1032751
- Flushed Away tt0424095
- The Adventures of Pluto Nash tt0180052
- The Lone Ranger tt1210819

In [778]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили в датафрейм колонку с прибылью
loss_film = data[data['net_income']==data['net_income'].min()] # фильтруем датафрейм по минимальной прибыли
display(loss_film)
answer_ls.append("tt1032751") #добавляем ответ в список
answer_ls

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,net_income
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

['tt1032751', 'tt0279111', 'tt1449283', 110, 106, 'tt0499549', 'tt1032751']

Вопрос 8

У скольких фильмов из датасета объем сборов оказался выше бюджета?

- 1478
- 1520
- 1241
- 1135
- 1398

In [780]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили в датафрейм колонку с прибылью
pfilms=data[data['net_income']>0] #отфильтровали по прибыли
print(len(pfilms)) #кол-во строк в датафрейме
answer_ls.append("1478") #добавляем ответ в список
answer_ls

1478

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478']

Вопрос 9
Какой фильм оказался самым кассовым в 2008 году?

- Madagascar: Escape 2 Africa tt0479952
- Iron Man tt0371746
- Kung Fu Panda tt0441773
- The Dark Knight tt0468569
- Mamma Mia! tt0795421

In [781]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили в датафрейм колонку с прибылью
profit2008=data[data['release_year']==2008] #отфильтровали по году
maxprofit2008=profit2008[profit2008['net_income']==profit2008['net_income'].max()] #фильтр по максимальной прибыли
display(maxprofit2008)
answer_ls.append("tt0468569") #добавили ответ
answer_ls

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,net_income
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569']

Вопрос 10
Самый убыточный фильм за период с 2012 по 2014 гг. (включительно)?

- Winter's Tale tt1837709
- Stolen tt1656186
- Broken City tt1235522
- Upside Down tt1374992
- The Lone Ranger tt1210819

In [782]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили в датафрейм колонку с прибылью
most_loss=data[(data['release_year']>=2012)&(data['release_year']<=2014)] #отфильтровали по году
most_loss=most_loss[most_loss['net_income']==most_loss['net_income'].min()] #отфильтровали по минимальной прибыли
display(most_loss)
answer_ls.append("tt1210819") #добавили ответ
answer_ls

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,net_income
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819']

Вопрос 11
Какого жанра фильмов больше всего?

- Action
- Adventure
- Drama
- Comedy
- Thriller

In [798]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
#genres=pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts() #кратко 
list_genres=data.genres.str.split('|').tolist() #разбили жанры в список и положили в список
df_genres=pd.DataFrame(list_genres) #преобразовали список в датафрейм
s_genres=pd.DataFrame(list_genres).stack().value_counts() #преобразовали в плоскую серию и посчитали кол-во по каждому значению
display(s_genres)
answer_ls.append("Drama") #добавили ответ в список
answer_ls

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama']

Вопрос 12
Какого жанра среди прибыльных фильмов больше всего?

- Action
- Adventure
- Drama
- Comedy
- Thriller

In [801]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили колонку с прибылью в датафремй
pfilms=data[data['net_income']>0] #отфильтровали только прибыльные фильмы
pgenres=pd.DataFrame(pfilms.genres.str.split('|').tolist()).stack().value_counts()  #посчитали жанры в серии из датафрейма с прибыльными фильмами
display(pgenres)
answer_ls.append("Drama")
answer_ls

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama']

Вопрос 13
Кто из режиссеров снял больше всего фильмов?

- Steven Spielberg
- Ridley Scott
- Steven Soderbergh
- Christopher Nolan
- Clint Eastwood

In [804]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
directors=pd.DataFrame(data.director.str.split('|').tolist()).stack().value_counts() #разбили строку с режиссерами и сложили в серию, посчитали кол-во по каждому значению
display(directors)
answer_ls.append("Steven Soderbergh") #добавили ответ в список
answer_ls

Steven Soderbergh    13
Ridley Scott         12
Clint Eastwood       12
Robert Rodriguez     11
Peter Farrelly       10
                     ..
Mimi Leder            1
Ash Brannon           1
David Mackenzie       1
Michael Hoffman       1
Steve Oedekerk        1
Length: 998, dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh']

Вопрос 14
Кто из режиссеров снял больше всего прибыльных фильмов?

- Steven Spielberg
- Ridley Scott
- Steven Soderbergh
- Christopher Nolan
- Clint Eastwood

In [806]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили колонку с прибылью в датафрейм
pfilms=data[data['net_income']>0] #отфильтровали только прибыльные фильмы
pdirectors=pd.DataFrame(pfilms.director.str.split('|').tolist()).stack().value_counts()  #посчитали режиссеров в серии из датафрейма с прибыльными фильмами
display(pdirectors)
answer_ls.append("Ridley Scott")
answer_ls

Ridley Scott          12
Clint Eastwood        10
Steven Soderbergh     10
Steven Spielberg      10
Tim Burton             9
                      ..
Peter Ramsey           1
Raman Hui              1
Jocelyn Moorhouse      1
Stephen St. Leger      1
David M. Rosenthal     1
Length: 814, dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott']

Вопрос 15
Кто из режиссеров принес больше всего прибыли?

- Steven Spielberg
- James Cameron
- Christopher Nolan
- David Yates
- Peter Jackson

In [816]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили колонку с прибылью в датафрейм
directors = set(data.director.str.split('|').sum()) #создали словарь режиссеров
#сортируем по убыванию серию итоговой прибыли при условии что режиссер есть в словаре
pdirectors=pd.Series({x:data[data.director.str.contains(x)].net_income.sum() for x in directors}).sort_values(ascending = False)
display(pdirectors)
answer_ls.append("Peter Jackson")
answer_ls

{'Chris Koch': -2567837,
 'J.C. Chandor': -10884210,
 'Frank Coraci': 290707563,
 'Steve Shill': 53830340,
 'Stewart Hendler': 7991317,
 'Des McAnuff': -40865180,
 'Darren Lynn Bousman': 283229448,
 'Peter Jackson': 5202593685,
 'Alister Grierson': 78609310,
 'Simon Curtis': 79277469,
 'Penny Marshall': -12256692,
 'William Brent Bell': 18105095,
 'Robert Stevenhagen': -9122855,
 'Alastair Fothergill': 94000000,
 'Kyle Balda': 1361571278,
 'Trish Sie': 41165646,
 'Eli Roth': -16542582,
 'Werner Herzog': -17233755,
 'Chris Sanders': 845829214,
 'Simon Wincer': 18288674,
 'Andrew Stanton': 1136076938,
 'Steve Beck': 33349884,
 'Mike Thurmeier': 782244782,
 'Kirsten Sheridan': 41122026,
 'John Lasseter': 701835545,
 'John Gulager': 3493728,
 'John Requa': 194366195,
 'Danny Cannon': -2389127,
 'William Malone': -21097985,
 'Tony Goldwyn': -5767020,
 'Robin Budd': 89862682,
 'Tony Scott': 307816918,
 'Stephen Daldry': 204093953,
 'Allen Hughes': 80367034,
 'Chris Williams': 647085437,
 'Mathieu Kassovitz': 103699932,
 'Richard Loncraine': 48312007,
 'Bill Paxton': -7458375,
 'Don Hall': 471565443,
 'Antony Hoffman': -46536031,
 'Barry Levinson': -16436363,
 'Robert Stromberg': 578410378,
 'Eric Bress': 83060858,
 'Roger Michell': 68720944,
 'Will Graham': 26438988,
 'Barbet Schroeder': 6714147,
 'Miguel Arteta': 81510273,
 'Robert Pulcini': 27738099,
 'Bruce A. Evans': 21637263,
 'Steve McQueen': 167000000,
 'Olatunde Osunsanmi': 32333295,
 'Todd Phillips': 1279393447,
 'Nick Cassavetes': 375344067,
 'Ernest R. Dickerson': -2683342,
 'Phil Joanou': 11480851,
 'Kevin Lima': 354099423,
 'Ron Shelton': -5762530,
 'Kevin Bray': 11482931,
 'Andrew Davis': -21605835,
 'Peter Lord': 238172925,
 'Mark Dindal': 233760352,
 'Kevin Greutert': 173384063,
 'Michael Caton-Jones': -48936607,
 'Thomas Carter': 139836045,
 'Bibo Bergeron': 273707746,
 'Tom Hanks': 6160375,
 'Paul Abascal': -3394237,
 'Gina Prince-Bythewood': 34833513,
 'Chad Stahelski': 58739897,
 'Justin Chadwick': -7670000,
 'James DeMonaco': 99782847,
 'Shane Acker': 18428063,
 'Christopher Guest': 12750246,
 'Lee Sternthal': 7231461,
 'Nick Park': 342287396,
 'Paul Haggis': 119600502,
 'Philip Kaufman': -31244124,
 'Bonnie Hunt': 12609995,
 'Dave Green': 32300000,
 'Mark Levin': 63076342,
 'Mark Andrews': 353983207,
 'Robert Rodriguez': 496768969,
 'GÃ¡bor CsupÃ³': 72657393,
 'Jorge Blanco': 34945765,
 'Paul Tibbitt': 237594032,
 'Chris Nahon': 39437847,
 'Giuseppe Tornatore': 5755873,
 'Robert Redford': -21845901,
 'Greg Coolidge': 26368909,
 'Tom Gormican': 18049082,
 'Joss Whedon': 2424593677,
 'Scott Walker': -21723049,
 'Stephen Frears': 213640295,
 'Fred Savage': 12197398,
 'Will Finn': -6048539,
 'Oliver Hirschbiegel': -58162215,
 'Roland JoffÃ©': -14373200,
 'Brad Peyton': 664667356,
 'Joe Russo': 621197940,
 'Wayne Kramer': -5500000,
 'Peter Farrelly': 433240078,
 'Roman Polanski': 102897944,
 'Paul Feig': 542223922,
 'Scott Speer': 107470746,
 'R.J. Cutler': 67874843,
 'John Curran': -12520282,
 'Kelly Asbury': 966114729,
 'Simon J. Smith': 379146671,
 'Juan Diego Solanas': -51893525,
 'Kirk Jones': 137189822,
 'Chris Miller': 1063945642,
 'Liev Schreiber': -4302070,
 'Peter Billingsley': 101844840,
 'Henry Selick': -4994085,
 'Kimberly Peirce': 52394288,
 'Jerry Zucker': 37498534,
 'Marco Schnabel': -20180936,
 'Jeff Newitt': 58338361,
 'Todd Edwards': 36053787,
 'James Gray': 33926886,
 'John R. Leonetti': 248773813,
 'Joseph Kahn': 6546197,
 'Charles Stone III': 29388787,
 'Stuart Baird': 7312826,
 'Martin Brest': -46733791,
 'David Leitch': 58739897,
 'Paul Thomas Anderson': 38550580,
 'Greg Strause': 56821036,
 'Garth Jennings': 54478416,
 'John Carney': 55464861,
 'Lexi Alexander': -10410627,
 'FranÃ§ois Ozon': 14641323,
 'Etan Cohen': 66511453,
 'Adrian Lyne': 69137784,
 'Billy Ray': 12689727,
 'Michael Rymer': 10479110,
 'Andrew Dominik': 7642258,
 'Patrik Forsberg': 26438988,
 'Jonathan Teplitzky': 4309223,
 'Gregory Jacobs': 107613057,
 'Jan Pinkava': 473722818,
 'Ken Scott': 4595359,
 'Walt Becker': 90494793,
 'Dewey Nicks': -7586085,
 'Matthew Robinson': 13412793,
 'Christian E. Christiansen': 24492759,
 'Ron Underwood': -92896027,
 'David Soren': 147570682,
 'Jay Chandrasekhar': 57305331,
 'Brandon Camp': 18133014,
 'Philip G. Atwell': 15452643,
 'Kerry Conran': -12041304,
 'Luke Greenfield': 212707109,
 'Neil Nightingale': 46546518,
 'Gavin Hood': 223765839,
 'Donald Petrie': 307986622,
 'Charles Shyer': -46604061,
 'Scott Moore': 35065672,
 'Adam McKay': 517576455,
 'Guy Ritchie': 758085675,
 'Jason Moore': 173361479,
 'Leigh Whannell': 94303851,
 'Marc Lawrence': 166531590,
 'Michael Mann': 244130185,
 'John Stevenson': 501744560,
 'George Nolfi': 77669379,
 'Conrad Vernon': 1578269902,
 'Roger Donaldson': -32521337,
 'Andrew Douglas': 89047131,
 'E. Elias Merhige': -14000000,
 'Stephen Norrington': 101265204,
 'Derek Cianfrance': 20485608,
 'James Gunn': 629751387,
 'John Crowley': 51076141,
 'David Frankel': 526362906,
 'Michel Hazanavicius': 118432856,
 'Todd Lincoln ': -7372508,
 'Chris Butler': 47139399,
 'David MichÃ´d': -9954577,
 'Dito Montiel': -7360655,
 'Matthew Vaughn': 640971176,
 'Christopher Spencer': 45800064,
 'Richard Eyre': 34469904,
 'Brad Anderson': 49702023,
 'Anne Fletcher': 526509398,
 'Nora Ephron': 135966668,
 'Dan Gilroy': 30197217,
 'Jim Sonzero': -8092315,
 'Mark Osborne': 535315810,
 'Rusty Cundieff': 26438988,
 'Walter Hill': -128283462,
 'James McTeigue': 37702647,
 'Mike McCoy': 69272766,
 'Adam Shankman': 486562773,
 'Chris Buck': 1188263522,
 'Steve Box': 162452832,
 'Kirk Wise': 66053725,
 'Mike Newell': 890683287,
 'Trey Parker': 18907422,
 'Jorma Taccone': -3890000,
 'Dominic Sena': 212588740,
 'Lasse HallstrÃ¶m': 361144542,
 'Courtney Solomon': -27312821,
 'Josh Boone': 293151265,
 'Florent-Emilio Siri': 25944725,
 'Peter Hyams': -86956545,
 'Francine McDougall': 2276953,
 'Lorna Cook': 42563539,
 'Richard Shepard': 7297244,
 'Fernando Meirelles': 57466670,
 'Russell Mulcahy': 102717833,
 'Steve Bendelack': 204736344,
 'Jimmy Hayward': 230677014,
 'Phillip Noyce': 225309529,
 'Stephen Kay': 47192859,
 'Chris Rock': 2196245,
 'Glenn Ficarra': 194366195,
 'Patrick Hughes': 116172544,
 'Steven Quale': 221489837,
 'Keanu Reeves': -22945059,
 'Todd Haynes': 28001170,
 'Michael Dougherty': 46548707,
 'Callan Brunker': 34597643,
 'John A. Davis': 61117361,
 'Rob Minkoff': 343066126,
 'John Patrick Shanley': 30907234,
 'Frank Marshall': 80455994,
 'Edward Zwick': 479612124,
 'Walter Salles': -20742589,
 'Michael Haneke': -7061128,
 'Craig Brewer': 49648810,
 'George Lucas': 1266398328,
 'Lee Daniels': 144570008,
 'Josh Schwartz': -2582638,
 'Boaz Yakin': 158115781,
 'Rajkumar Hirani': 61000000,
 'Richard Donner': -49854540,
 'Mike Johnson': 77195061,
 'Wes Anderson': 238584160,
 'Les Mayfield': -21321087,
 'Clint Eastwood': 1329766334,
 'Ken Kwapis': 198330028,
 'Steve Carr': 414906672,
 'Eric Leighton': 226748063,
 'Seth Rogen': 61346497,
 'John Hillcoat': 23311885,
 'John Whitesell': 149874476,
 'Charles Herman-Wurmfeld': 79914842,
 'Lee Toland Krieger': 17629776,
 'John Boorman': 7008462,
 'Scott Cooper': 72638116,
 'Grant Heslov': 44729358,
 'Jonathan Demme': 39431292,
 'Ericson Core': 28718711,
 'Alejandro GonzÃ¡lez IÃ±Ã¡rritu': 633923618,
 'John Moore': 385021803,
 'Frank Darabont': 4413748,
 'Julie Anne Robinson': -3106279,
 'Harmony Korine': 26724284,
 'Jon Hurwitz': 216482707,
 'Darren Aronofsky': 571450089,
 'Jim Field Smith': 29779728,
 'Douglas McGrath': 6551495,
 'Wally Pfister': 3039258,
 'Christian Alvart': -10354673,
 'Shawn Levy': 1515787063,
 'Kevin Macdonald': 71934204,
 'Simon Wells': -67278066,
 'Tim Johnson': 308890347,
 'Jason Winer': 5735397,
 'Stephen Anderson': -15540000,
 'Sean Anders': 243064116,
 'Gregory Hoblit': -3123301,
 'Chris Gorak': 34626786,
 'Sharon Maguire': 256929795,
 'Christine Jeffs': 3000000,
 'Michael Cuesta': -2549154,
 'David Moreau': 44309766,
 'David Silverman': 899885107,
 'Griffin Dunne': 26438988,
 'Sergey Bodrov': 19178613,
 'Dean Israelite': 20248241,
 'Theodore Melfi': 41837234,
 'Danny Boyle': 548659594,
 'Gary Ross': 677547137,
 'Alejandro AmenÃ¡bar': 161988542,
 'Alex Kurtzman': -3565222,
 'Ruben Fleischer': 136539725,
 'Takashi Shimizu': 192618441,
 'Davis Guggenheim': -8891180,
 'Michael McCullers': 33833449,
 'Richard Linklater': 74852964,
 'Karyn Kusama': 5860062,
 'Edgar Wright': -54297544,
 'Kris Pearn': 170384621,
 'Rob Cohen': 580154301,
 'Quentin Tarantino': 1036139583,
 'Dan Scanlon': 543559607,
 'Randall Wallace': 154245117,
 'Steven Shainberg': -14518911,
 'Jim Sheridan': 12263217,
 'Victor Salva': 95320455,
 'Martin Scorsese': 802194907,
 'Alan Parker': -11044402,
 'George Armitage': -43191450,
 'William Friedkin': -16100923,
 'Mikael HÃ¥fstrÃ¶m': 237121418,
 'Jesse Dylan': 206675071,
 'Susanna White': 58246388,
 'Rob Bowman': -3256452,
 'Clark Johnson': 54563692,
 'Donovan Cook': 89862682,
 'Scott Stewart': 60227789,
 'Valerie Faris': 92523181,
 'Bille Woodruff': 55998113,
 'Marcos MartÃ\xadnez': 34945765,
 'Nathan Greno': 331794936,
 'Andrew Niccol': 135385692,
 'Sofia Coppola': 24620072,
 'Breck Eisner': 74622276,
 'Rupert Sanders': 226600000,
 'Demian Lichtenstein': -43279825,
 'Michael J. Bassett': -4887204,
 'Andrew Erwin': 5429707,
 'David Hackl': 103057533,
 'John Lee Hancock': 294169892,
 'Jean-FranÃ§ois Richet': 5294470,
 'Joe Carnahan': 159621022,
 'J. Mackye Gruber': 83060858,
 'Camille Delamarre': 88526499,
 'Neil Marshall': -12973785,
 'Steve Trenbirth': 115680000,
 'Ariel Schulman': 338521810,
 'Kevin Rodney Sullivan': 80986300,
 'John Erick Dowdle': 136957466,
 'DJ Pooh': 3229331,
 'John Sanford': -6048539,
 'Greg Mottola': 215077082,
 'Rian Johnson': 2572764,
 'Mark Helfrich': 34192128,
 'Justin Lin': 1472947074,
 'Stefen Fangmeier': 149288105,
 'Motonori Sakakibara': -51868170,
 'Atom Egoyan': -6540542,
 'Floria Sigismondi': -7004189,
 'Mark Linfield': 94000000,
 'Ron Clements': 131623880,
 'Marc Webb': 1096156023,
 'John Dahl': -56190660,
 'David Gordon Green': 39790930,
 'David Dobkin': 338508402,
 'Craig Gillespie': 21229864,
 'Joshua Michael Stern': 20531410,
 'Mike Disa': -16478171,
 'Frederik Du Chau': 63772522,
 'Marcus Nispel': 114568588,
 'Nicholas Stoller': 399269922,
 'Dan Rush': -2385227,
 'Alan Taylor': 595368537,
 'J.J. Abrams': 2839169916,
 'Steve Pink': 80579955,
 'Lenny Abrahamson': 29401758,
 'Albert Hughes': 116665870,
 'Daniel Sackheim': -6380391,
 'Anthony Minghella': 94013509,
 'Sngmoo Lee': -413912431,
 'Francis Lawrence': 2476979588,
 'RyÃ»hei Kitamura': -11466773,
 'Gabriele Muccino': 365244986,
 'Chris Sivertson': -2379601,
 'Drew Goddard': 36486080,
 'Spike Lee': 114237276,
 'Vicky Jenson': 708089482,
 'Rodrigo GarcÃ\xada': -2365172,
 'Daniel Barnz': 21525852,
 'Don Mancini': 12829644,
 'Douglas Aarniokoski': -9156392,
 'Michael Patrick King': 538600478,
 'Todd Strauss-Schulson': 16387212,
 'John Musker': 131623880,
 'Hoyt Yeatman': 142817841,
 'Alex Proyas': 332681278,
 'Kevin Reynolds': -3000000,
 'Tim Story': 678087416,
 'Zal Batmanglij': -4098490,
 'Joe Johnston': 514454033,
 'Richard Kelly': 3333531,
 'Renny Harlin': -38949184,
 'David Yates': 3379295625,
 'Oliver Stone': 183398571,
 'Diane Keaton': -3962091,
 'Mark Neveldine': 128537513,
 'Roberts Gannaway': 101165787,
 'Anand Tucker': 10922472,
 'Ava DuVernay': 46787908,
 'Miguel Sapochnik': -13590109,
 'Chuck Russell': 105333180,
 'Brad Silberling': 37762476,
 'Mike Mitchell': 906666117,
 'Woody Allen': 231220507,
 'David R. Ellis': 253164703,
 'Tommy Lee Jones': -2963851,
 'George Tillman, Jr.': 45828190,
 'Brian Levant': 59623481,
 'Niki Caro': -9775758,
 'Eric Darnell': 1755054393,
 'Joe Dante': -11485156,
 'Duncan Jones': 120092801,
 'Feng Xiaogang': 18786960,
 'Justin Zackham': -13180652,
 'Susanne Bier': -13150858,
 'Anthony Stacchi': 160564797,
 'Chris Weitz': 954062326,
 'Ronald F. Maxwell': -43076064,
 'Michael Bay': 2760938960,
 'Tamra Davis': 49141030,
 'Ole Bornedal': 71446075,
 'Doug Lefler': -41696962,
 'Sam Miller': 40630415,
 'Mark Mylod': 10426096,
 'James Duffy': 26438988,
 'James L. Brooks': -96289726,
 'Scott Hicks': 57786831,
 'Joe Roth': -23009372,
 'Richard J. Lewis': -21545699,
 'Michael Spierig': 28916464,
 'Steven Zaillian': -45549103,
 'Graham Annable': 48255770,
 'Christopher B. Landon': 81362372,
 'Christophe Gans': 47607453,
 'David M. Rosenthal': 48273173,
 'Simon Hunter': -5966835,
 'Danny Leiner': 75117631,
 'Robert Altman': 67954044,
 'Mike Binder': 14793497,
 'David Schwimmer': 23000000,
 'Pete Docter': 1682867609,
 'Jon M. Chu': 339884147,
 'Michael Sucsy': 166114570,
 'Anthony Hemingway': -7634623,
 'Jason Eisener': -41962103,
 'Burr Steers': 116235645,
 'Amy Heckerling': -14423505,
 'Andy Tennant': 585953885,
 'Tate Taylor': 99272124,
 'Hayden Schlossberg': 216482707,
 'Joe Nussbaum': -749925,
 'Chris Noonan': 5078241,
 'Steve Antin': 34519773,
 'Tony Bill': -42200000,
 'Jonathan Mostow': 343111187,
 'Brad Bird': 1581913958,
 'Troy Duffy': 2629321,
 'Gary McKendry': -8222894,
 'Jennifer Lee': 1124219009,
 'Jeff Schaffer': -4203153,
 'Harold Ramis': 44741108,
 'Max Joseph': 5122090,
 'Brian Koppelman': -12975218,
 'Josh Gordon': 30830607,
 'Joseph Kosinski': 396231335,
 'Asger Leth': 4221189,
 'Michael Apted': 274487404,
 'Jonathan van Tulleken': 26438988,
 'Liam Lynch': -8594405,
 'Tom Shadyac': 394895235,
 'James Wong': 123021472,
 'Phil Traill': 25105542,
 'Shane Black': 1015439994,
 'Mel Gibson': 662074710,
 'Nicolas Winding Refn': 61175166,
 'Guillaume Canet': -23084528,
 'Uli Edel': -8444012,
 'Paul McGuigan': 14002735,
 'Michael Lembeck': 163658589,
 'John Maybury': -7873775,
 'Bennett Miller': 90387346,
 'Juan Antonio Bayona': 138274123,
 'Brian A Miller': 248586800,
 'Baz Luhrmann': 292307855,
 'Will Gluck': 251257886,
 'Aleksander Bach': 47347656,
 'Jaco Van Dormael': -43452791,
 'Lawrence Kasdan': 7715436,
 'Tim Burton': 1801663457,
 'David Cronenberg': 30378780,
 'Stephen Chbosky': 20400000,
 'Stephen Sommers': 602739766,
 'Rob Reiner': 134674961,
 'Michael Winterbottom': 2928871,
 'Jonathan Lynn': 60524694,
 'Paul Verhoeven': 95213455,
 'Cameron Crowe': 177138780,
 'Colin Strause': 56821036,
 'Judd Apatow': 417839316,
 'Will Speck': 30830607,
 'Raja Gosnell': 1188104000,
 'Michel Gondry': 160075374,
 'Roger Spottiswoode': 14085477,
 'Rupert Wyatt': 404031315,
 'Richard Curtis': 191280550,
 'Doug Liman': 854203108,
 'Len Wiseman': 482382796,
 'Matt Reeves': 688109639,
 'Mira Nair': 1262687,
 'Kevin Costner': 46296293,
 'Pete Travis': 102199233,
 'Roland Emmerich': 1310587076,
 'Andrzej Bartkowiak': 86236439,
 'Peter Hewitt': 128310722,
 'Tony Leech': 36053787,
 'Mike Nichols': 132505437,
 'Anthony Bell': 19300000,
 'John Stockwell': 25206241,
 'Jim Jarmusch': 35742101,
 'Olivier Megaton': 708858133,
 'Guillermo del Toro': 456999810,
 'Mark Romanek': 34678538,
 'BjÃ¶rn Stein': 62400000,
 'Sara Sugarman': 14331068,
 'Lone Scherfig': 62986285,
 'Tony Gilroy': 196418121,
 'Peter Ramsey': 161941670,
 'Raman Hui': 638958165,
 'Sam Mendes': 1710352791,
 'Jocelyn Moorhouse': 6410000,
 'Phil Lord': 850176100,
 'Nima Nourizadeh': 88000000,
 'Gary Chapman': -15521894,
 'Vipul Amrutlal Shah': -5000000,
 'Jessie Nelson': 25270895,
 'Mark Pellington': 23157539,
 'David McNally': 68916474,
 'Angela Robinson': 16002004,
 'John Hamburg': 180600372,
 'Lana Wachowski': 874004266,
 'Oxide Pang Chun': -2512610,
 'Anthony Silverston': 7187375,
 'Peter Chelsom': 290190043,
 'Frank Oz': 15069884,
 'Martin McDonagh': 21424799,
 'Jaume Collet-Serra': 345520013,
 'Nicholas Hytner': 35387687,
 'Robert De Niro': -25091435,
 'D.J. Caruso': 306316571,
 'Patty Jenkins': 52378584,
 'Shana Feste': 19607114,
 'Corey Yuen Kwai': 22928932,
 'Jon Amiel': 14208267,
 'Jon Lucas': 35065672,
 'Jim Gillespie': -48583698,
 'Geoffrey Sax': 65134289,
 'Jill Culton': 112309027,
 'Malcolm D. Lee': 138259197,
 'Carl Rinsch': -24037525,
 'Denis Villeneuve': 130152503,
 'Tom Tykwer': 120824582,
 'Jim Fall': 38534455,
 'David Mackenzie': -3900000,
 'Ash Brannon': 64044513,
 'Jay Russell': 72613150,
 'Mimi Leder': 15707411,
 'Rob Zombie': 57542817,
 'Evan Goldberg': 61346497,
 'Ivan Reitman': 141156732,
 'Ciaran Foy': 42882018,
 'Clare Kilner': 32175038,
 'Steve Martino': 1141615909,
 'Daniel Barber': 3029747,
 'Gus Van Sant': 64775136,
 'Dean Parisot': 102026112,
 'Bruce Hunt': -14992009,
 'Peter Sohn': 156926147,
 'Kevin Allen': 2818995,
 'Anthony Russo': 621197940,
 'Carlos Saldanha': 1882719105,
 'Todd Graff': -14789012,
 'Louis Leterrier': 246091791,
 'John Michael McDonagh': 13560274,
 'Harold Cronk': 12789000,
 'Peter Spierig': 28916464,
 'Pierre Morel': 170079448,
 'Michael Cristofer': -6597680,
 'Jane Lipsitz': 20726956,
 'Alan Poul': 42477008,
 'Dave Meyers': 15399945,
 'Brian De Palma': -47286475,
 'Mennan Yapo': 64146832,
 'David Koepp': 19415330,
 'James Marsh': 106201940,
 'Scott Derrickson': 278310327,
 'Rupert Wainwright': 28201432,
 'Stephen Gaghan': 29719357,
 'Daniel Espinosa': 76400535,
 'Amma Asante': 5605460,
 'Robert Iscove': -2450462,
 'Jane Campion': -4059945,
 'Pitof': -17897621,
 'Robert Zemeckis': 813123904,
 'Iain Softley': 48780332,
 'Scott Frank': 14548630,
 'Akiva Goldsman': -29199769,
 'Brendan Malloy': -9217324,
 'Chris Renaud': 1648116186,
 'Howard Deutch': 2776289,
 'Jeff Nichols': 11587700,
 'MÃ¥ns MÃ¥rlind': 62400000,
 'Dan Bradley': -20193217,
 'Don McKellar': -9269982,
 'Antoine Fuqua': 496376048,
 'Ted Demme': 30282296,
 'Chris Carter': 38369434,
 'David Zucker': 305935837,
 'Don Bluth': -38245366,
 'Jack Sholder': -75171919,
 'Sylvester Stallone': 389435816,
 'James Watkins': 110730736,
 'Howard McCain': -42966317,
 'Paolo Sorrentino': -13209021,
 'Troy Miller': 20267515,
 'Marcus Raboy': 13526835,
 'Lars von Trier': 27231879,
 'Vic Armstrong': 3682924,
 'Joel Coen': 616968145,
 'Ben Younger': 2780255,
 'Shari Springer Berman': 27738099,
 'Angelina Jolie': 98442937,
 'Peter Segal': 545449931,
 'Kirk De Micco': 476979273,
 'Jake Schreier': 73512300,
 'Peter Cattaneo': -6237110,
 'Mark Herman': 7916563,
 'Stephen Herek': -40008098,
 'Bryan Singer': 811212100,
 'Jesse Peretz': 7273593,
 'Jonathan Liebesman': 635666756,
 'Keenen Ivory Wayans': 468922045,
 'Klay Hall': 169788712,
 'Richard LaGravenese': 147006123,
 'Joe Cornish': -10385849,
 'Joe Wright': 176304564,
 'George Miller': 533178428,
 'Kasi Lemmons': -10481811,
 'GrÃ©gory Levasseur': 7365435,
 'Toby Wilkins': 33610009,
 'Garry Marshall': 434014880,
 'Ron Howard': 1379257991,
 'Simon West': 402421114,
 'Susannah Grant': -8841513,
 'Ari Sandel': 35028634,
 'Stiles White': 97529779,
 'James Cox': -2533556,
 'Martin Campbell': 671862395,
 'Brad Lewis': 359852396,
 'Danny Pang': -2512610,
 'Mary Lambert': -9782502,
 'Dustin Hoffman': 48520298,
 'Ed Gass-Donnelly': 10179302,
 'Jean-Marc VallÃ©e': 42608174,
 'Ben Gluck': 19300000,
 'Sean McNamara': 29088990,
 'David Slade': 675997320,
 'Stephen Hillenburg': 110161792,
 'Gareth Edwards': 369076069,
 'Ryan Murphy': 144594016,
 'Gore Verbinski': 2271362290,
 'Gregory Poirier': 12430766,
 'Elizabeth Banks': 284945182,
 'Jared Hess': 48197993,
 'Jennifer Flackett': 63076342,
 'Rich Moore': 306222889,
 'Rob Marshall': 1143605066,
 'Neill Blomkamp': 405029579,
 'Robert Luketic': 439591681,
 'Charles Martin Smith': 74828930,
 'Joel Gallen': 50468332,
 'Gary Shore': 145529201,
 'Noam Murro': 231150015,
 'Ridley Scott': 2044035909,
 'Michael Moore': 126089539,
 'Joel Edgerton': 53978653,
 'Ben Falcone': 80525432,
 'Peter Bogdanovich': -3353006,
 'Gary Goldman': -38245366,
 'Mark Rosman': 51067909,
 'Byron Howard': 491774930,
 'James Wan': 1620441367,
 'Brian Klugman': 7231461,
 'Christopher McQuarrie': 690670734,
 'Timur Bekmambetov': 226535147,
 'John Bonito': 2165608,
 'Craig Mazin': -9128166,
 'Liz Friedlander': 4742066,
 'Michael Davis': -12179359,
 'Seth MacFarlane': 647231921,
 'Chris Columbus': 1906968952,
 'Lilly Wachowski': 874004266,
 'Christopher Erskin': 19179516,
 'Gil Kenan': 88482048,

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson']

Вопрос 16
Какой актер принес больше всего прибыли?

- Emma Watson
- Johnny Depp
- Michelle Rodriguez
- Orlando Bloom
- Rupert Grint

In [817]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили колонку с прибылью в датафрейм
actors = set(data.cast.str.split('|').sum()) #создали словарь актеров
#сортируем по убыванию серию итоговой прибыли при условии что актер есть в словаре
pactors=pd.Series({x:data[data.cast.str.contains(x)].net_income.sum() for x in actors}).sort_values(ascending = False)
display(pactors)
answer_ls.append("Emma Watson")
answer_ls

Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
                         ...
Elisabeth Harnois     -111007242
Emilio EchevarrÃ­a    -119180039
Kate Bosworth         -369455668
Jang Dong-gun         -413912431
Ti Lung               -413912431
Length: 3408, dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson']

Вопрос 17
Какой актер принес меньше всего прибыли в 2012 году?

- Nicolas Cage
- Danny Huston
- Kirsten Dunst
- Jim Sturgess
- Sami Gayle

In [818]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили колонку с прибылью в датафрейм
actors =  ["Nicolas Cage", "Danny Huston", "Kirsten Dunst", "Jim Sturgess", "Sami Gayle"] #создали список актеров
#actors = set(data.cast.str.split('|').sum()) #создали словарь актеров
pfilms2012=data[data['release_year']==2012] # отфильтровали датафрейм по году
#сортируем по возрастанию серию итоговой прибыли при условии что актер есть в словаре
lactors=pd.Series({x:pfilms2012[pfilms2012.cast.str.contains(x)].net_income.sum() for x in actors}).sort_values(ascending = True)
display(lactors)
answer_ls.append("Kirsten Dunst")
answer_ls

Kirsten Dunst   -68109207
Nicolas Cage    -32893443
Danny Huston    -32893443
Sami Gayle      -32893443
Jim Sturgess    -23410657
dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst']

Вопрос 18
Какой актер снялся в большем количестве высокобюджетных фильмов? Примечание: в фильмах, где бюджет выше среднего по данной выборке.

- Tom Cruise
- Mark Wahlberg
- Matt Damon
- Angelina Jolie
- Adam Sandler

In [820]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
mean_budget=data.budget.mean() #средний бюджет
#создали датафрейм актеров с индексом идентификатора фильма
actors=pd.DataFrame(data['cast'].str.split('|').tolist(),index=data['imdb_id']).stack().reset_index([0])
#создали датафрейм бюджетов с индексом идентификатора фильма
a_profit=pd.DataFrame(data['budget'].tolist(),index=data['imdb_id']).stack().reset_index([0])

#объединение слева актеров и бюджетов по индексу идентификатора фильма
a_data = actors.merge(a_profit, on='imdb_id', how='left')
a_data.columns = ['id','actor','budget'] #переименование столбцов датафрейма
#посчитали кол-во актеров в отфильтрованном по бюджету датафрейме
display(a_data[a_data.budget>mean_budget].actor.value_counts())

answer_ls.append("Matt Damon") #записали ответ
answer_ls

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Joey King             1
Kimberly Elise        1
Michael Stuhlbarg     1
Tracey Ullman         1
Lari White            1
Name: actor, Length: 1508, dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon']

Вопрос 19
В фильмах какого жанра больше всего снимался Nicolas Cage?

Drama
Action
Thriller
Adventure
Crime

In [822]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
Nick_films=pd.Series(data[data.cast.str.contains("Nicolas Cage")].genres) #серия жанров для фильмов с учатием Кейджа
Nick_genres=pd.DataFrame(Nick_films.str.split('|').tolist()).stack().value_counts() #кол-во жанров в серии
display(Nick_genres)

answer_ls.append("Action")
answer_ls

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action']

Вопрос 20
Какая студия сняла больше всего фильмов?

Universal Pictures (Universal)
Paramount Pictures
Columbia Pictures
Warner Bros
Twentieth Century Fox Film Corporation

In [825]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
#кол-во значений в серии компаний выгруженных из столбца начального датафрейма в отдельный датафрейм разбиением по разделителю
film_company=pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()
display(film_company)

answer_ls.append("Universal Pictures (Universal)")
answer_ls

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Ehman Productions                           1
Alan Greenspan Productions                  1
Phase 1 Productions                         1
DumbDumb                                    1
Granada Film Productions                    1
Length: 1772, dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)']

Вопрос 21
Какая студия сняла больше всего фильмов в 2015 году?

Universal Pictures
Paramount Pictures
Columbia Pictures
Warner Bros
Twentieth Century Fox Film Corporation

In [826]:
data=pd.read_csv('data.csv') # считали данные из csv-файла в датафрейм
films2015=data[data['release_year']==2015] #отфильтровали по году
#посчитали кол-во компаний в серии полученной датафрейма, преобразованного из списка компаний полученного при разбиении строки по разделителю
company2015=pd.DataFrame(films2015.production_companies.str.split('|').tolist()).stack().value_counts()
display(company2015)

answer_ls.append("Warner Bros.")
answer_ls

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Columbia Pictures                          7
Paramount Pictures                         7
                                          ..
Iron Horse Entertainment (II)              1
Film Art Media                             1
Wonderland Sound and Vision                1
Item 7                                     1
Dune Films                                 1
Length: 246, dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.']

Вопрос 22
Какая студия заработала больше всего денег в жанре комедий за все время?

Warner Bros
Universal Pictures (Universal)
Columbia Pictures
Paramount Pictures
Walt Disney

In [851]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили колонку с прибылью в датафрейм
# фильтруем датафрейм по жанру комедии, и кладем компании в список, разбив по разделителю
com_company=data[data.genres.str.contains('Comedy')].production_companies.str.split('|').tolist()

#преобразуем список в датафрейм компаний с выручкой фильмов комедий
com_companies=pd.DataFrame(com_company,index=data[data.genres.str.contains('Comedy')]['revenue']).stack().reset_index([0])
com_companies.columns=['net_income','companies']
#заменяем все компании Universal* в датафрейме на Universal Pictures (Universal)
com_companies.loc[com_companies.companies.isin(['Universal','Universal Pictures']),'companies']='Universal Pictures (Universal)'

#в сгруппированном по компаниям датафрейме, отсортированном по убыванию прибыли, находим индекс максимальной прибыли
maxp_com_company=com_companies.groupby('companies').sum().sort_values('net_income', ascending=False).idxmax().net_income
display(maxp_com_company)

answer_ls.append("Universal Pictures (Universal)")
answer_ls

'Universal Pictures (Universal)'

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)']

Вопрос 23
Какая студия заработала больше всего денег в 2012 году?

Universal Pictures (Universal)
Warner Bros
Columbia Pictures
Paramount Pictures
Lucasfilm

In [857]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили колонку с прибылью в датафрейм
#отфильтровали датафрейм по году, взяли из него компании и проиндексировав выручкой, сложили в другой датафрейм со своим индексом
pcompany_2012=pd.DataFrame(data[(data['release_year']==2012)].production_companies.str.split('|').tolist(),index=data[(data['release_year']==2012)]['net_income']).stack().reset_index([0])
pcompany_2012.columns=['net_income','companies']

#в сгруппированном по компаниям датафрейме, отсортированном по убыванию прибыли, находим индекс максимальной прибыли
maxp_2012_company=pcompany_2012.groupby('companies').sum().sort_values('net_income', ascending=False).idxmax().net_income
print(maxp_2012_company)

answer_ls.append("Columbia Pictures")
answer_ls

Columbia Pictures

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures']

Вопрос 24
Самый убыточный фильм от Paramount Pictures?

K-19: The Widowmaker tt0267626
Next tt0435705
Twisted tt0315297
The Love Guru tt0811138
The Fighter tt0964517

In [889]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили колонку с прибылью в датафрейм
#отфильтровали датафрейм по Paramount
Paramount_films=pd.DataFrame(data[data.production_companies.str.contains('Paramount Pictures')])
#отсортировали по возрастанию отфильтрованный по списку фильмов датафрейм и взяли индекс прибыли
l_Paramount_film=Paramount_films.loc[Paramount_films.imdb_id.isin(['tt0267626','tt0435705','tt0315297','tt0811138','tt0964517'])].sort_values('net_income', ascending=True)['imdb_id']
display(l_Paramount_film)
answer_ls.append("tt0267626")
answer_ls

926     tt0267626
1723    tt0435705
1632    tt0315297
668     tt0811138
436     tt0964517
Name: imdb_id, dtype: object

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626']

Вопрос 25
Какой самый прибыльный год (в какой год студии заработали больше всего)?

2014
2008
2012
2002
2015

In [895]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили колонку с прибылью в датафрейм
#сгруппировали по году и просуммировали прибыль, отсортировали по убыванию
p_years=data.groupby(['release_year'])['net_income'].sum().sort_values(ascending=False)
display(p_years)
answer_ls.append("2015")
answer_ls

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: net_income, dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626',
 '2015']

Вопрос 26
Какой самый прибыльный год для студии Warner Bros?

2014
2008
2012
2010
2015

In [899]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили колонку с прибылью в датафрейм
#отфильтровали датафрейм по компании Warner Bros
Warner_films=pd.DataFrame(data[data.production_companies.str.contains('Warner Bros')])
#сгруппировали по году и просуммировали по прибыли, отсортировали по убыванию
p_Warner=Warner_films.groupby(['release_year'])['net_income'].sum().sort_values(ascending=False)
display(p_Warner)
answer_ls.append("2014")
answer_ls

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: net_income, dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626',
 '2015',
 '2014']

Вопрос 27
В каком месяце за все годы суммарно вышло больше всего фильмов?

Январь
Июнь
Декабрь
Сентябрь
Май

In [929]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили колонку с прибылью в датафрейм
#добавили в датафрейм колонку Месяц, преобразованием из даты
data['month'] = pd.to_datetime(data.release_date, format='%m/%d/%Y').dt.month

#сгруппировали по месяцу и посчитали кол-во по каждому значению, отсортировав по убыванию
r_month=data.groupby(['month']).size().sort_values(ascending=False).idxmax()
print(r_month)

answer_ls.append("Сентябрь")
answer_ls

9

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626',
 '2015',
 '2014',
 'Сентябрь']

Вопрос 28
Сколько суммарно вышло фильмов летом (за июнь, июль, август)?

345
450
478
523
381

In [935]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
#добавили в датафрейм столбец месяц, преобразованием из даты
data['Date'] = pd.to_datetime(data['release_date']) 
data['Month'] = data['Date'].dt.month
#посчитали количество значений в колонке Месяц в отфильтрованном по летним месяцам датафрейме
summer_films=data[data['Month'].isin(['6','7','8'])]['Month'].count()
display(summer_films)

answer_ls.append("450")
answer_ls

450

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626',
 '2015',
 '2014',
 'Сентябрь',
 '450']

Вопрос 29
Какой режиссер выпускает (суммарно по годам) больше всего фильмов зимой?

Steven Soderbergh
Christopher Nolan
Clint Eastwood
Ridley Scott
Peter Jackson

In [943]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
#добавили в датафрейм столбец месяц, преобразованием из даты
data['Month'] = pd.to_datetime(data['release_date']).dt.month
#создаем фильтры, применяем фильтры к датафрейму
filter1=data['Month'].isin(['1','2','12']) 
#filter2=data['director'].isin(['Steven Soderbergh','Christopher Nolan','Clint Eastwood','Ridley Scott','Peter Jackson'])
winter_films=data[filter1]['director'].value_counts() #&filter2]
display(winter_films.idxmax())

answer_ls.append("Peter Jackson")
answer_ls

'Peter Jackson'

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626',
 '2015',
 '2014',
 'Сентябрь',
 '450',
 'Peter Jackson']

Вопрос 30
Какой месяц чаще всего самый прибыльный в году?
Почему нужно считать по годам, а не просто взять самый прибыльный месяц за весь период? Киноиндустрия активно развивается, прибыль компаний растет с каждым годом (например, в 2014 г. индустрия заработала в 2 раза больше, чем в 2004). Поэтому прибыльность более поздних месяцев будет значительно перевешивать предыдущие, что может привести к искажению выводов.

Январь
Июнь
Декабрь
Сентябрь
Май

In [962]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['net_income'] = data['revenue']-data['budget'] #добавили колонку с прибылью в датафрейм
#добавили в датафрейм столбец месяц, преобразованием из даты
data['Month'] = pd.to_datetime(data['release_date']).dt.month

#сводная таблица суммарной прибыли по месяцам и году
pmonth_by_year=pd.pivot_table(data, values='net_income', index='Month', columns='release_year', aggfunc='sum')
p_monthly=pmonth_by_year.idxmax().value_counts()
display(p_monthly)

answer_ls.append("Июнь")
answer_ls

6     7
12    4
5     4
7     1
dtype: int64

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626',
 '2015',
 '2014',
 'Сентябрь',
 '450',
 'Peter Jackson',
 'Июнь']

Вопрос 31
Названия фильмов какой студии в среднем самые длинные по количеству символов?

Universal Pictures (Universal)
Warner Bros
Jim Henson Company, The
Paramount Pictures
Four By Two Productions

In [963]:
data=pd.read_csv('data.csv') # считали csv-файл в датафрейм
data['len_title'] = data.original_title.str.len() #добавили столбец = кол-во символов в названии фильма
#создали датафрейм идентификаторов фильмов с длинами названия
len_titles=pd.DataFrame(data['len_title'].tolist(),index=data['imdb_id']).stack().reset_index([0])
#создали датафрейм компаний с идентификаторами фильмов
companies=pd.DataFrame(data['production_companies'].str.split('|').tolist(),index=data['imdb_id']).stack().reset_index([0])
#объединили датафрейм компаний с длинами компаний слева по идентификатору
len_data = companies.merge(len_titles, on='imdb_id', how='left')
len_data.columns = ['id','company','len']
#сортируем сгруппированный по компаниям датафрейм средних длин в порядке убывания
len_company=len_data.groupby(['company'])[['len']].mean().sort_values(['len'],ascending=False)
display(len_company)
answer_ls.append("Four By Two Productions")
answer_ls

                             len
company
Four By Two Productions     83.0
Jim Henson Company, The     59.0
Dos Corazones               47.0
Polsky Films                46.0
Museum Canada Productions   46.0
...                          ...
Everest Entertainment        3.0
Berlanti Productions         3.0
Global Entertainment Group   2.0
XM2 Productions              2.0
Ixtlan Productions           2.0

[1772 rows x 1 columns]

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626',
 '2015',
 '2014',
 'Сентябрь',
 '450',
 'Peter Jackson',
 'Июнь',
 'Four By Two Productions']

Вопрос 32
Названия фильмов какой студии в среднем самые длинные по количеству слов?

Universal Pictures (Universal)
Warner Bros
Jim Henson Company, The
Paramount Pictures
Four By Two Productions

In [995]:
data=pd.read_csv('data.csv') #считали данные из csv-файла в  датафрейм
words = (data.groupby('imdb_id')['original_title']  # группируем датафрейм по 
         .agg(' '.join)  # Объединяем сообщения в одну строку
         .str.replace(r'[.?,]', '')  # Удаляем ненужные символы
         .str.lower()  # Переводим в нижний регистр

         # Разбиваем строку на список слов, конвертируем в множество,
         # чтобы получить только уникальные слова и считаем длину множества
         .apply(lambda x: len(set(x.split())))
         .to_frame()  # Конвертируем в датафрейм
         .reset_index()  # Сбрасываем индекс
)
#создаем датафрейм компаний с идентификаторами фильмов
companies=pd.DataFrame(data['production_companies'].str.split('|').tolist(),index=data['imdb_id']).stack().reset_index([0])
#объединяем слева компании и кол-во слов по идентификатору фильма
words_companies = companies.merge(words, on='imdb_id', how='left')
words_companies.columns= ['id','company','words']
# сортируем по убыванию среднего кол-ва слов сгруппированный по компании датафрейм
w_company=words_companies.groupby(['company'])[['words']].mean().sort_values(['words'],ascending=False)
display(w_company)
answer_ls.append("Four By Two Productions")
answer_ls

                           words
company
Four By Two Productions     11.0
Jim Henson Company, The     10.0
Dos Corazones                9.0
Polsky Films                 9.0
Total Entertainment          8.0
...                          ...
Cohen/Pearl Productions      1.0
HimenÃ³ptero                 1.0
Revelations Entertainment    1.0
Helena Productions           1.0
Mystery Clock Cinema         1.0

[1772 rows x 1 columns]

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626',
 '2015',
 '2014',
 'Сентябрь',
 '450',
 'Peter Jackson',
 'Июнь',
 'Four By Two Productions',
 'Four By Two Productions']

Вопрос 33
Сколько разных слов используется в названиях фильмов (без учета регистра)?

6540
1002
2461
28304
3432

In [1002]:
data = pd.read_csv('data.csv') #считали csv-файл в датафрейм
data['original_title'] = data['original_title'].str.replace('  ', ' ').str.lower() #преобразовали названия фильмов
t_words = set(data.original_title.str.split(' ').sum()) #создали множество слов
display(len(t_words)) #кол-во элементов в множестве слов
answer_ls.append("2461")
answer_ls

2461

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626',
 '2015',
 '2014',
 'Сентябрь',
 '450',
 'Peter Jackson',
 'Июнь',
 'Four By Two Productions',
 'Four By Two Productions',
 '2461']

Вопрос 34
Какие фильмы входят в 1 % лучших по рейтингу?

Inside Out, Gone Girl, 12 Years a Slave
BloodRayne, The Adventures of Rocky and Bullwinkle
The Lord of the Rings: The Return of the King, Upside Down
300, Lucky Number Slevin
Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King

In [1008]:
data = pd.read_csv('data.csv') #считали csv-файл в датафрейм
rating = data.vote_average.quantile(0.99) #фильтр по рейтингу (1%)
#отфильтровали датафрейм по рейтингу
top_films = data[data.vote_average > rating].original_title
display(top_films)
answer_ls.append("Inside Out, Gone Girl, 12 Years a Slave")
answer_ls

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
600                                   The Dark Knight
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626',
 '2015',
 '2014',
 'Сентябрь',
 '450',
 'Peter Jackson',
 'Июнь',
 'Four By Two Productions',
 'Four By Two Productions',
 '2461',
 'Inside Out, Gone Girl, 12 Years a Slave']

Вопрос 35
Какие актеры чаще всего снимаются в одном фильме вместе?

Johnny Depp and Helena Bonham Carter
Hugh Jackman and Ian McKellen
Vin Diesel and Paul Walker
Adam Sandler and Kevin James
Daniel Radcliffe and Rupert Grint

In [1100]:
data=pd.read_csv('data.csv')
# создали датафрейм из столбца с актерами, проиндексировав их фильмами 
actors=pd.DataFrame(data['cast'].str.split('|').tolist(),index=data['imdb_id']).stack().reset_index([0])
actors.columns = ['id','actor']

#фильтруем датафрейм по списку актеров
a_list=['Johnny Depp','Hugh Jackman','Vin Diesel','Adam Sandler','Daniel Radcliffe','Helena Bonham Carter','Ian McKellen','Paul Walker','Kevin James','Rupert Grint']
f_actors=actors[actors['actor'].isin(a_list)].reset_index()

#оставим только фильмы с более чем 1 актером из списка
df1 = f_actors[f_actors['id'].map(f_actors['id'].value_counts()) > 1]

#создали датафрейм уникальных фильмов со списком актеров
df2=pd.DataFrame(df1.groupby(['id'])['actor'].unique()).reset_index()
display(df2)

answer_ls.append("Daniel Radcliffe & Rupert Grint")
answer_ls

           id                                              actor
0   tt0120903                       [Hugh Jackman, Ian McKellen]
1   tt0121164                [Johnny Depp, Helena Bonham Carter]
2   tt0232500                          [Paul Walker, Vin Diesel]
3   tt0241527                   [Daniel Radcliffe, Rupert Grint]
4   tt0290334                       [Hugh Jackman, Ian McKellen]
5   tt0295297                   [Daniel Radcliffe, Rupert Grint]
6   tt0304141                   [Daniel Radcliffe, Rupert Grint]
7   tt0330373                   [Daniel Radcliffe, Rupert Grint]
8   tt0367594                [Johnny Depp, Helena Bonham Carter]
9   tt0373889                   [Daniel Radcliffe, Rupert Grint]
10  tt0376994                       [Hugh Jackman, Ian McKellen]
11  tt0408236                [Johnny Depp, Helena Bonham Carter]
12  tt0417741                   [Daniel Radcliffe, Rupert Grint]
13  tt0424095                       [Hugh Jackman, Ian McKellen]
14  tt0762107                        [Adam Sandler, Kevin James]
15  tt0837562                        [Adam Sandler, Kevin James]
16  tt0926084  [Daniel Radcliffe, Rupert Grint, Helena Bonham...
17  tt1013752                          [Vin Diesel, Paul Walker]
18  tt1014759                [Johnny Depp, Helena Bonham Carter]
19  tt1077368                [Johnny Depp, Helena Bonham Carter]
20  tt1201607                   [Daniel Radcliffe, Rupert Grint]
21  tt1210819                [Johnny Depp, Helena Bonham Carter]
22  tt1596343                          [Vin Diesel, Paul Walker]
23  tt1877832                       [Hugh Jackman, Ian McKellen]
24  tt1905041                          [Paul Walker, Vin Diesel]
25  tt2120120                        [Adam Sandler, Kevin James]
26  tt2191701                        [Adam Sandler, Kevin James]
27  tt2510894                        [Adam Sandler, Kevin James]
28  tt2820852                          [Vin Diesel, Paul Walker]

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626',
 '2015',
 '2014',
 'Сентябрь',
 '450',
 'Peter Jackson',
 'Июнь',
 'Four By Two Productions',
 'Four By Two Productions',
 '2461',
 'Inside Out, Gone Girl, 12 Years a Slave',
 'Daniel Radcliffe & Rupert Grint']

Вопрос 36
У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?

Quentin Tarantino
Steven Soderbergh
Robert Rodriguez
Christopher Nolan
Clint Eastwood

In [1101]:
data=pd.read_csv('data.csv') #считали csv-файл в датафремй
data['net_income'] = data['revenue']-data['budget'] #добавили столбец прибыли в датафрейм

#создали датафрейм режиссеров и прибыли
df=pd.DataFrame(data['director'].str.split('|').tolist(), index=data['net_income']).stack().reset_index([0])
df.rename(columns={0:'director'},inplace=True)

#отфильтровали датафрейм по списку
df=df[df['director'].str.contains('Quentin Tarantino|Steven Soderbergh|Robert Rodriguez|Christopher Nolan|Clint Eastwood',na=False)].reset_index()

list=['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']
directors={}
#идем в цикле по датафрейму режиссеров
for i in list:
    df1=df.query('director in @i') #фильтруем датафрейм по режиссеру из списка
    df_income=df1.query('net_income>0')  #фильтруем датафрейм по прибыльным фильмам    
    percent=len(df_income)/len(df1['net_income']) #отношение кол-ва прибыльных фильмов к общему кол-ву фильмов режиссера
    directors[i]=percent
display(directors)
answer_ls.append("Quentin Tarantino")
answer_ls

{'Quentin Tarantino': 0.8571428571428571,
 'Steven Soderbergh': 0.7692307692307693,
 'Robert Rodriguez': 0.7272727272727273,
 'Christopher Nolan': 1.0,
 'Clint Eastwood': 0.8333333333333334}

['tt1032751',
 'tt0279111',
 'tt1449283',
 110,
 106,
 'tt0499549',
 'tt1032751',
 '1478',
 'tt0468569',
 'tt1210819',
 'Drama',
 'Drama',
 'Steven Soderbergh',
 'Ridley Scott',
 'Peter Jackson',
 'Emma Watson',
 'Kirsten Dunst',
 'Matt Damon',
 'Action',
 'Universal Pictures (Universal)',
 'Warner Bros.',
 'Universal Pictures (Universal)',
 'Columbia Pictures',
 'tt0267626',
 '2015',
 '2014',
 'Сентябрь',
 '450',
 'Peter Jackson',
 'Июнь',
 'Four By Two Productions',
 'Four By Two Productions',
 '2461',
 'Inside Out, Gone Girl, 12 Years a Slave',
 'Daniel Radcliffe & Rupert Grint',
 'Quentin Tarantino']